.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -88;
    transition: all 1s;
    transition-behavior: ease-in;
    opacity: 0;
    background-color: #1c0f13eb;
}


.menuContainer {
    padding-top: 100px;
    width: 100%;
    transition: all 1.5s;
    opacity: 0;
    height: 100%;
}


.menuContent {
    display: grid;
    grid-template-columns: 35% 1fr;
}

.menuList {
    width: 100%;
}
.menuList .link {
    margin: 20px;
}

.menuList .link {
    display: flex;
    flex-direction: column;
    height: 60px;
    text-decoration: none;
    color: #F6F4F2;
    opacity: .7;
    padding: 0px;
    transition: all .3s;
}

.menuList .link .li {
    display: flex;
    height: 100px;
    display: grid;
    grid-template-columns: 75px 1fr 30px;
    width: 100%;

}

.menuList .link .li p {
    font-family: Poppins-light-italic;
}

.menuList .link .li h3 {
    font-size: 26px;
    padding: 0;
    margin: 0;
}

.menuList .link .li div {
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menuList .link .li div .arrow {
    transform: rotate(45deg);
}

.menuList .lines {
    height: 2px;
    width: 100%;
}

.menuList .lines .line {
    background-color: #F6F4F2;
    transition: all .3s;
    width: 0%;
    height: 100%;
}

.menuList .lines .lineChild {

    background-color: #F6F4F2;
    height: .1px;
    width: 100%;
}

.menuList .link:hover {
    opacity: 1;
}

.menuList .link:hover .lines .line {
    width: 100%;
}


.menuContact {
    display: grid;
    place-items: center;
}

.menuContact ul li {
    list-style: none;
}

.menuContact ul li h5 {
    font-family: Poppins-Light-Italic;
}

.menuContact ul li a {
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #F6F4F2;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #F6F4F2;
    top: 5vh;
    position: relative;
    font-family: Poppins-Medium;
}

.menuLabel {
    padding: 20px;
    font-size: 4vw;
    font-family: Poppins-Bold;
}

@media screen and (max-width: 900px) {
    .menuContainer {
        padding-top: 10vh;
    }

    .menuContent {
        display: flex;
        flex-direction: column;
    }

    .menuContact {
        place-items: start;
        padding: 20px;
    }

    .menuLabel {
        display: none;
    }

    .menuList .link .li {
        grid-template-columns: 35px 1fr 30px;
    }

    .menuList .link {
        height: 55px;
    }
}