.blogCard {
    width: 25vw;
    height: 30vw;
    gap: 5px;
    overflow: hidden;
    display: flex;
    color: var(--primary-dark);
    flex-direction: column;
    cursor: pointer;
    transition: all .3s;
}

.blogCard :hover {
    opacity: .5;
}

.blogCard .blogFeatured {
    width: calc(100% - 4px);
    height: 300px;
    border-radius: 5px;
    /* background-image: url("https://miro.medium.com/v2/resize:fit:4800/format:webp/1*uGV8EmiF5OQ3ykWeChGsiQ.jpeg"); */
    background-color: var(--primary-dark);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogCard .blogDate {
    border-radius: 5px;
    padding: 5px;
    opacity: .7;
    font-family: Poppins-Light;
    width: fit-content;
}

.blogCard .blogTitle {
    font-size: 24px;
    font-family: Poppins-Medium-Bold;
}

.blogCard .blogDesc {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    opacity: .5;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 900px) {
    .blogCard {
        width: 100%;
        height: 75%;
    }

    .blogCard .blogFeatured {
        height: 250px;
    }

    .blogCard .blogTitle {
        font-size: 20px;
    }
}