:root {
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F6F4F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-dark: #1C0F13;
  --primary-light: #F6F4F2;
}

* {
  margin: 0;
  padding: 0;
}


html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  /* overflow-y: auto; */
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary-light);
}

html,
body {
  margin: 0;
  scroll-behavior: auto;
  height: 100%;
}

.bg-strip {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
  background-color: var(--primary-light);
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 66;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}



.bg-strip span {
  height: 100%;
  width: .1px;
  background-color: #343434;
}


.word {
  display: inline;
}

.custom-scroll-text {
  color: var(--primary-dark);
}

#smooth-wrapper {
  position: absolute;
  z-index: 77;
}

#loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blogTreshold {
  margin-top: 5vh;
}

#loadingPage {
  animation-name: loadingGone;
  animation-duration: 2s;
  animation-delay: 2s;
}

#loadingPage h1 {
  opacity: 0.1;
  will-change: transform;
}

#loadingPage h1 * {
  will-change: transform;
}

.tresholdContainer {
  width: calc(100% - 40px);
  padding: 20px;
  height: 20px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.tresholdBox {
  height: 30px;
  width: 30px;
  background-color: var(--primary-dark);
}

.tresholdLine {
  width: 100%;
  height: 1px;
  background-color: var(--primary-dark);
}

@keyframes loadingGone {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(150vh);
  }
}

@media screen and (max-width: 900px) {

  .bg-strip span:nth-child(6),
  .bg-strip span:nth-child(7),
  .bg-strip span:nth-child(8),
  .bg-strip span:nth-child(9) {
    display: none;
  }
}