.scroll-reveal {
    padding: 15px;
    height: fit-content;
    justify-content: center;
    display: flex;
    padding-bottom: 10vh;
}

.scroll-reveal-text {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 600;
    width: 50%;
    font-family: Poppins-Medium;
    color: var(--primary-dark);

}

.word {
    display: inline-block;
}