.blogCard {
    color: var(--primary-dark);
    height: fit-content;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid var(--primary-dark);
    background-color: var(--primary-light);
}

.blogCardTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.blogCardNewLabel {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid var(--primary-dark);
}

.blogCardNewLabel span {
    background-color: var(--primary-dark);
    height: 3px;
    width: 3px;
    border-radius: 50%;
}

.blogCardDate {
    font-size: 55px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.blogCardFeatImg {
    background-color: var(--primary-dark);
    width: 100%;
    height: 170px;
}

.blogCardFeatImg img {
    width: 100%;
    height: 100%;
    aspect-ratio: cover;
    object-fit: cover;
}

.blogCardAuthor {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blogCardProfile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blogCardPic {
    width: 25px;
    border-radius: 50%;
    background-color: var(--primary-dark);
    height: 25px;
    overflow: hidden;
}

.blogCardPic img {
    width: 100%;
    height: 100%;
    aspect-ratio: cover;
}

.blogCardCategory {
    display: flex;
    margin-top: 10px;
    font-size: 11px;
    gap: 7px;
    align-items: center;
}

.blogCardCategory span {
    background-color: var(--primary-dark);
    height: 3px;
    width: 3px;
    border-radius: 50%;
}

.blogCardHour {
    opacity: .5;
}

.blogCardMinuteRead {
    opacity: .5;
}

.blogCardTitle {
    font-size: 20px;
    line-height: 24px;
    text-overflow: ellipsis;
    line-clamp: 2;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}

.blogCardDesc {
    font-size: 14px;
    line-height: 15px;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 60px;
    opacity: .7;
    overflow: hidden;
}


.btnReadAll {
    color: var(--primary-dark);
    position: relative;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-weight: 15px;
    cursor: pointer;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--primary-dark);
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.btnReadAll:hover {
    color: var(--primary-light);
}

.hoverEffect {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--primary-dark);
    transition: width 0.3s ease-out, height 0.3s ease-out;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btnReadAll:hover .hoverEffect {
    width: 700px;
    height: 400px;
}

.buttonText {
    position: relative;
    z-index: 2;
    display: block;
}

@media screen and (max-width: 400px) {
    .blogCardDate {
        font-size: 44px;
    }

    .blogCard {
        height: 500px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 400px) {

    .blogCard {
        height: 650px;
    }

    .blogCardDate {
        font-size: 52px;
    }

    .blogCardFeatImg {
        height: 230px;
    }

    .blogCardTitle {
        line-clamp: 3;
        -webkit-line-clamp: 3;
        height: 60px;
    }

    .blogCardDesc {
        -webkit-line-clamp: 7;
        line-clamp: 7;
        height: 105px;
        margin-bottom: 20px;
    }
}