.blogCard {
    width: 350px;
    height: 100%;
    gap: 5px;
    overflow: hidden;
    display: flex;
    color: var(--primary-dark);
    flex-direction: column;
    cursor: pointer;
    transition: all .3s;
}

.blogCard :hover {
    opacity: .5;
}

.blogCard .blogFeatured {
    width: calc(100% - 4px);
    height: 50vh;
    border-radius: 5px;
    background-color: var(--primary-light);
    border: 2px solid var(--primary-dark);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogCard .blogDate {
    border-radius: 5px;
    padding: 5px;
    opacity: .7;
    font-family: Poppins-Light;
    width: fit-content;
}

.blogCard .blogTitle {
    font-size: 24px;
    font-family: Poppins-Medium-Bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    opacity: .5;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blogCard .blogDesc {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    opacity: .5;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 900px) {
    .blogCard {
        width: 100%;
        height: 100%;
    }

    .blogCard .blogFeatured {
        height: 50vh;
    }

    .blogCard .blogTitle {
        font-size: 21px;
        line-height: 24px;
    }

    .blogCard .blogDesc {
        font-size: 14px;
        height: 30px;
        font-family: Poppins-Light;
        line-height: 15px;
    }
}